@charset "UTF-8";
/*
	@module
		title: grid *n
		type: scss *n
		caption:
			p{ Модуль формирует сетку исходя из конфига bd{_config.scss} }p
		*n
*/
/*
	@module
		title: defaults *n
		type: scss *n
		caption:
			p{ Конфигом системы служит .scss-файл, который содержит 
			в себе настройки для всей системы вцелом. Он находится 
			в папке bd{ scss/_config.scss }. }p
		*n
*/
/*--------------------------------------------------------------
													КОНФИГ
--------------------------------------------------------------*/
/*@property
		name: $gutter *n
		caption: Отступ по бокам внутри ячейки сетки. 
			[$gutter|<content here>|$gutter]. Если параметр равен 0 - 
			контент прижимается вплотную к соронам блока. По умолчанию 
			задано 10пикс. *n
*/
/*@property
		name: $grid_line_height *n
		caption: Высота строки или междустрочный интервал. Применяется 
			для bd{ <body> } *n
*/
/*@property
		name: $grid_sizes *n
		caption: Это массив с размерами шаблона. Если Вам дают макет 
			шириной в 1400 пикселей, то вы указываете 1400. Если в одном 
			шаблоне есть разные ширины сетки, к примеру 1400 и 960 пикселей, 
			то вы указываете их оба через запятую, при чем от меньшего к 
			большему. Допускается произвольное количество размеров 
			(если они Вам нужны). *n
*/
/*@property
		name: $primary_grid *n
		caption: Основная ширина сетки. *n
*/
/*@property
		name: $grid_prefixes *n
		caption: p{ Это массив, содержащий ассоциативные массивы с 
			брейкпоинтами. Брейкпоинты помогают Вам добиться отображения 
			при разных ширинах дисплея (адаптивный дизайн) иной ширины 
			блоков. }p 
			p{ Здесь x1d4 – ширина ячейки по умолчанию (1/4). на мобильном 
			телефоне мы хотим чтобы она отображалась по-другому (1/2), для 
			этого мы используем брейк-поинт x1d2--m, который на мобильном 
			устройстиве отобразит ячейку шире (1/2). }p
			p{ Массив состоит из ассоциативных массивов (480, ‘--m’), в 
			которых передается ширина, при которой брейкпоинт должен 
			сработать и префикс, по которому к брейкпоинту можно обратиться. 
			Вы сами можете создать сколько угодно брейкпоинтов. }p *n
			p{ Создает набор классов типа bd{.x<X>d<D>--<BRAKEPOINT>} }p *n
*/
/*@property
		name: $grid_calc *n
		caption: p{ Это части, на которые можно “дробить” ячейки в 
			сетке. Мощнейшим преимуществом сетки есть дробление на 
			произвольное количество ячеек, и сетка может разбиваться не 
			на 12 колонок (как в Bootstrap), а на произвольное количество ячеек
			(например на 100, если это Вам нужно). }p 
			p{ Эти части являются как ширинами блока, так и ширинами ячеек.
			Это значит, что вам не обязательно указывать постоянную ширину 
			знаменателя (bd{x1d12}, bd{x3d12} и т.д). Это выражение - формирует 
			процент от ширины, соответственно, bd{x1d2} и bd{x6d12} - это 
			одно и то же (50%)) }p
			p{ Создает набор классов типа bd{.x<X>d<D>} }p *n
*/
/*@property
		name: $fixed_widths *n
		caption: p{ Содержит массив с фиксированными размерами (в пикселях). }p 
			p{ Аналогично bd{$grid_calc}. }p*n
			p{ Создает набор классов типа bd{.w-fixed-<WIDTH>} }p *n
*/
/*@property
		name: $islands *n
		caption: p{ Массив с размерами отступов. Эти отступы означают 
			равные отступы со всех сторон блока (от слова island, остров). 
			То есть указывая 10px – Вы указываете отступ в 10 пикселей со 
			всех сторон. Это есть padding и margin. }p 
			p{ Создает набор классов типа bd{.island-<NUMBER>} }p *n
*/
/*@property
		name: $vertical_indents *n
		caption: p{ Массив с размерами отступов. Аналогично bd{$islands},
			за исключением того, что отступы указываются только по вертикали. }p 
			p{ Создает набор классов типа: 
				ul{
					li{ bd{.pad-v<NUMBER>} - внутренний отступ сверху и снизу }li
					li{ bd{.pad-top-<NUMBER>} - внутренний отступ сверху }li
					li{ bd{.pad-bot-<NUMBER>} - внутренний отступ снизу }li
					li{ bd{.marg-v<NUMBER>} - внешний отступ сверху и снизу }li
					li{ bd{.marg-top-<NUMBER>} - внешний отступ сверху }li
					li{ bd{.marg-bot-<NUMBER>} - внешний отступ снизу }li
				}ul
			}p *n
*/
/*@property
		name: $vertical_indents *n
		caption: p{ Массив с размерами отступов. Аналогично bd{$islands},
			за исключением того, что отступы указываются только по горизонтали. }p 
			p{ Создает набор классов типа: 
				ul{
					li{ bd{.pad-h<NUMBER>} - внутренний отступ слева и справа }li
					li{ bd{.pad-left-<NUMBER>} - внутренний отступ слева }li
					li{ bd{.pad-right-<NUMBER>} - внутренний отступ справа }li
					li{ bd{.marg-h<NUMBER>} - внешний отступ слева и справа }li
					li{ bd{.marg-left-<NUMBER>} - внешний отступ слева }li
					li{ bd{.marg-right-<NUMBER>} - внешний отступ справа }li
				}ul
			}p *n
		*n
*/
/*@property
		name: $min_font_size, $max_font_size *n
		caption: p{ Размеры шрифта. Применяются к блоку. }p*n
			p{ Создает набор классов типа bd{.font-<NUMBER>}, где <NUMBER> -
			это диапазон от bd{$min_font_size} до bd{$max_font_size} }p *n
*/
/*@property
		name: .YourColor *n
		caption: Устанавливает цвет текста с названием YourColor.
		Параметры задаются в bd{ _config.scss }, в объекте 
		bd{ $colors_list } *n
*/
/*@property
		name: .bg-YourColor *n
		caption: Устанавливает фона блока с названием YourColor.
		Параметры задаются в bd{ _config.scss }, в объекте 
		bd{ $colors_list_bg } *n
*/
/*--------------------------------------------------------------
												ПЕРЕМЕННЫЕ
--------------------------------------------------------------*/
/*@property
		name: $font_size *n
		caption: Устанавливает размер шрифта по умолчанию для <body> *n
*/
/*@property
		name: $font_family *n
		caption: Устанавливает шрифт по умолчанию для <body> *n
*/
/*
	@module
		title: mixins *n
		type: scss *n
		caption:
			p{ Модуль добавляет в систему заранее подготовленные
			миксины, которые используются в коде. }p
			p{ Чтобы использовать миксины - вставвьте нужный миксин
			в код при помощи директивы bd{ @include my-mixin(mixin-values); }}p
		*n
*/
/*--------------------------------------------------------------------------
	Background and Border Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: background-clip() *n caption: *n arguments: $clip *n
		return: -webkit-, -moz-, -ms-, -o- *n */
/*@mixin
		name: background-origin() *n caption: *n arguments: $origin *n
		return: -webkit-, -moz-, -ms-, -o- *n */
/*@mixin
		name: background-size() *n caption: *n arguments: $size *n
		return: -webkit-, -moz-, -ms-, -o- *n */
/*@mixin
		name: border-bottom-left-radius() *n caption: *n arguments: $radius *n
		return: -webkit-, -moz-, -ms- *n */
/*@mixin
		name: border-bottom-right-radius() *n caption: *n arguments: $radius *n
		return: -webkit-, -moz-, -ms- *n */
/*@mixin
		name: border-top-right-radius() *n caption: *n arguments: $radius *n
		return: -webkit-, -moz-, -ms- *n */
/*@mixin
		name: border-top-left-radius() *n caption: *n arguments: $radius *n
		return: -webkit-, -moz-, -ms- *n */
/*@mixin
		name: border-radius() *n caption: *n arguments: $radius *n
		return: -webkit-, -moz-, -ms- *n */
/*@mixin
		name: box-shadow() *n caption: *n arguments: $shadow *n
		return: -webkit-, -moz- *n */
/*--------------------------------------------------------------------------
	Flexible Box Layout
--------------------------------------------------------------------------*/
/*@mixin
		name: align-content() *n caption: bd{flexbox} *n arguments: $type *n
		return: -webkit- *n */
/*@mixin
		name: align-items() *n caption: bd{flexbox} *n arguments: $type *n
		return: -webkit- *n */
/*@mixin
		name: align-self() *n caption: bd{flexbox} *n arguments: $type *n
		return: -webkit- *n */
/*@mixin
		name: flex() *n caption: bd{flexbox} *n arguments: $type *n
		return: -webkit-, -moz-, -ms- *n */
/*@mixin
		name: flex-basis() *n caption: bd{flexbox} *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: flex-direction() *n caption: bd{flexbox} *n arguments: $direction *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: flex-flow() *n caption: bd{flexbox} *n arguments: $flow *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: flex-grow() *n caption: bd{flexbox} *n arguments: $grow *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: flex-shirk() *n caption: bd{flexbox} *n arguments: $shirk *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: flex-wrap() *n caption: bd{flexbox} *n arguments: $wrap *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: justify-content() *n caption: bd{flexbox} *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: order() *n caption: bd{flexbox} *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*--------------------------------------------------------------------------
	Text Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: tab-size() *n caption: bd{flexbox} *n arguments: $type *n
		return: -o-, -moz- *n */
/*--------------------------------------------------------------------------
	Animation Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: keyframes() *n caption: animations *n arguments: $name *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation-delay() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation-direction() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation-duration() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation-fill-mode() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation-iteration-count() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation-timing-function() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation-play-state() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*--------------------------------------------------------------------------
	Transform Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: backface-visibility() *n caption: transformations *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: perspective() *n caption: transformations *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: perspective-origin() *n caption: transformations *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: transform() *n caption: transformations *n arguments: $type *n
		return: -webkit-, -moz-, -ms-, -o- *n */
/*@mixin
		name: transform-origin() *n caption: transformations *n arguments: $type *n
		return: -webkit-, -moz-, -ms-, -o- *n */
/*@mixin
		name: transform-style() *n caption: transformations *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*--------------------------------------------------------------------------
	Transitions Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: transition() *n caption: transitions *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: transition-property() *n caption: transitions *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: transition-duration() *n caption: transitions *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: transition-timing-function() *n caption: transitions *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: transition-delay() *n caption: transitions *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*--------------------------------------------------------------------------
	Basic User Interface Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: box-sizing() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: outline-offset() *n caption: UI *n arguments: $type *n
		return: -webkit- *n */
/*@mixin
		name: resize() *n caption: UI *n arguments: $type *n
		return: -moz- *n */
/*@mixin
		name: text-overflow() *n caption: UI *n arguments: $type *n
		return: -o- *n */
/*--------------------------------------------------------------------------
	Multi-column Layout Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: column-count() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: column-gap() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: column-rule() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: column-rule-color() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: column-rule-style() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: column-rule-width() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: column-rule-span() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: column-width() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: columns() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*--------------------------------------------------------------------------
	Filter Effects Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: filter() *n caption: UI *n arguments: $properties *n
		return: -webkit-, -moz-, -o- *n */
/*
	Приватный модуль для генерации брейкпоинтов.
*/
/*@property
		name: g *n
		caption: p{ Класс bd{ .g } означает обертку. bd{ .g.w960 } - обертку 
			шириной в w960 пикселей, если скрин пользователя шире данного 
			значения, – блок позиционируется по центру, если меньше – 
			растягивается на всю ширину скрина. Ширина задается один раз и 
			берется из конфига (параметр bd{ $grid_sizes }). Каждое из этих 
			значений - это ширина обертки, которую Вы можете использовать. 
			Это и обертка шириной в 1400 пикселей (bd{ w1400 }), и в 960 (bd{ w960 }) 
		}p
		p{ Обертка является оболочкой, внутри которой должны размещаться ячейки. }p
		*n
*/
.g,
.g--rev {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding: 0;
  list-style-type: none; }

.g {
  direction: ltr; }

/*@property
		name: g--rev *n
		caption: Обертка с обратным расположением ячеек 
		(только для inline-block-элементов). *n
*/
.g--rev {
  direction: rtl; }

/*@property
		name: c, cc, cd *n
		caption: p{ Для того, чтобы раздробить блок на условные ячейки, 
			внутрь нужно поместить блок с классом bd{.c} или bd{.cc}. Класс 
			bd{.c} обозначает инлайн-блок, с внутренним отступом по бокам в 
			заданную величину пикселей (параметр bd{ $gutter }). 
		}p
		p{ [$gutter|<content here>|$gutter] }p
		p{ Дробить сетку на ячейки крайне просто, если Вы знаете азы 
			математики и умеете слогать. Для начала вы должны определиться, 
			на сколько ячеек Вы хотите разбить сетку. За это отвечает 
			параметр bd{ $grid_calc } .Например, Вы выбрали 12-колоночную 
			сетку. Это означает, что любая ячейка будет дробиться исходя 
			из соотношения ширины ячейки к общей ширине всех ячеек: класс 
			bd{ x2d12 } вставит ячейку шириной в 2/12 общей ширины обертки.
		}p
		p{ Плюшка: Вы так же можете использовать не только дроби со 
			знаменателем 12 (если Вы его выбрали), но и любые дроби, из 
			параметра bd{ $grid_calc }. Это может быть и bd{ .x1d2 }, и 
			bd{ .x2d6 }, и bd{ .x1d8 }, если эти дроби прописаны в 
			bd{ $grid_calc }.
		}p
		p{ Так же, существует возможность задать фиксированную ширину, 
			используя классы типа bd{ .w-fixed-50 }, bd{ .w-fixed-150 }, 
			которые обозначают фиксированную ширину блока в пикселях. 
			Значения берутся из параметра bd{ $fixed_widths }.
		}p
		p{ Обертка является оболочкой, внутри которой должны 
			размещаться ячейки. }p
		*n
*/
.c,
.cc,
.cd {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  padding: 0 10px; }

/*@property
		name: cc *n
		caption: Ячейка без отступов - [<content here>]*n
*/
.cc {
  padding: 0; }

/*@property
		name: cc *n
		caption: Ячейка с отступами в два раза больше обычного: 
		p{ [$gutter*2|<content here>|$gutter*2] }p *n
*/
.cd {
  padding: 0 20px; }

/* внутренние фцнкции - поддержка javascript */
.lt-ie9 .c,
.lt-ie9 .cc,
.no-js .c,
.no-js .cc,
.no-js .c-c {
  display: block !important;
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important; }

/* внутренние фцнкции - переключение в режим flexbox \ inline-block */
html.flexbox .g, html.flexbox .g-rev {
  margin: 0 auto;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap; }

html.flexbox .c, html.flexbox .cc, html.flexbox .c-c {
  display: inline-flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*@property
		name: w<WIDTH> *n
		caption: Ширина обертки. Формирует список классов типа 
		w<WIDTH> исходя из значений параметра bd{ $grid_sizes } *n
*/
.g.w720,
.g--rev.w720 {
  max-width: 720px; }

.g.w960,
.g--rev.w960 {
  max-width: 960px; }

.g.w1140,
.g--rev.w1140 {
  max-width: 1140px; }

.lt-ie9 .g.w720,
.lt-ie9 .g--rev.w720 {
  max-width: 720px; }

.no-js .g.w720,
.no-js .g--rev.w720 {
  max-width: 720px; }

.lt-ie9 .g.w960,
.lt-ie9 .g--rev.w960 {
  max-width: 960px; }

.no-js .g.w960,
.no-js .g--rev.w960 {
  max-width: 960px; }

.lt-ie9 .g.w1140,
.lt-ie9 .g--rev.w1140 {
  max-width: 1140px; }

.no-js .g.w1140,
.no-js .g--rev.w1140 {
  max-width: 1140px; }

/* -----------------------------------------------------
	grid calc
*/
.x1d1 {
  width: 100%; }

.x0d1 {
  width: 0%; }

.x1d2, .x2d4, .x3d6, .x4d8, .x5d10, .x6d12 {
  width: 50%; }

.x1d3, .x2d6, .x3d9, .x4d12 {
  width: 33.33333%; }

.x2d3, .x4d6, .x6d9, .x8d12 {
  width: 66.66667%; }

.x1d4, .x2d8, .x3d12 {
  width: 25%; }

.x3d4, .x6d8, .x9d12 {
  width: 75%; }

.x1d5, .x2d10 {
  width: 20%; }

.x2d5, .x4d10 {
  width: 40%; }

.x3d5, .x6d10 {
  width: 60%; }

.x4d5, .x8d10 {
  width: 80%; }

.x1d6, .x2d12 {
  width: 16.66667%; }

.x5d6, .x10d12 {
  width: 83.33333%; }

.x1d7 {
  width: 14.28571%; }

.x2d7 {
  width: 28.57143%; }

.x3d7 {
  width: 42.85714%; }

.x4d7 {
  width: 57.14286%; }

.x5d7 {
  width: 71.42857%; }

.x6d7 {
  width: 85.71429%; }

.x1d8 {
  width: 12.5%; }

.x3d8 {
  width: 37.5%; }

.x5d8 {
  width: 62.5%; }

.x7d8 {
  width: 87.5%; }

.x1d9 {
  width: 11.11111%; }

.x2d9 {
  width: 22.22222%; }

.x4d9 {
  width: 44.44444%; }

.x5d9 {
  width: 55.55556%; }

.x7d9 {
  width: 77.77778%; }

.x8d9 {
  width: 88.88889%; }

.x1d10 {
  width: 10%; }

.x3d10 {
  width: 30%; }

.x7d10 {
  width: 70%; }

.x9d10 {
  width: 90%; }

.x1d11 {
  width: 9.09091%; }

.x2d11 {
  width: 18.18182%; }

.x3d11 {
  width: 27.27273%; }

.x4d11 {
  width: 36.36364%; }

.x5d11 {
  width: 45.45455%; }

.x6d11 {
  width: 54.54545%; }

.x7d11 {
  width: 63.63636%; }

.x8d11 {
  width: 72.72727%; }

.x9d11 {
  width: 81.81818%; }

.x10d11 {
  width: 90.90909%; }

.x1d12 {
  width: 8.33333%; }

.x5d12 {
  width: 41.66667%; }

.x7d12 {
  width: 58.33333%; }

.x11d12 {
  width: 91.66667%; }

/* -----------------------------------------------------
	fixed widths
*/
.w-fixed-50 {
  width: 50px; }

.w-fixed-100 {
  width: 100px; }

.w-fixed-150 {
  width: 150px; }

.w-fixed-200 {
  width: 200px; }

.w-fixed-250 {
  width: 250px; }

.w-fixed-300 {
  width: 300px; }

/* -----------------------------------------------------
	MEDIA queries
*/
@media (max-width: 768px) {
  .x1--t {
    width: 100%; }
  .x1d1--t {
    width: 100%; }
  .x0d1--t {
    width: 0%; }
  .x1d2--t, .x2d4--t, .x3d6--t, .x4d8--t, .x5d10--t, .x6d12--t {
    width: 50%; }
  .x1d3--t, .x2d6--t, .x3d9--t, .x4d12--t {
    width: 33.33333%; }
  .x2d3--t, .x4d6--t, .x6d9--t, .x8d12--t {
    width: 66.66667%; }
  .x1d4--t, .x2d8--t, .x3d12--t {
    width: 25%; }
  .x3d4--t, .x6d8--t, .x9d12--t {
    width: 75%; }
  .x1d5--t, .x2d10--t {
    width: 20%; }
  .x2d5--t, .x4d10--t {
    width: 40%; }
  .x3d5--t, .x6d10--t {
    width: 60%; }
  .x4d5--t, .x8d10--t {
    width: 80%; }
  .x1d6--t, .x2d12--t {
    width: 16.66667%; }
  .x5d6--t, .x10d12--t {
    width: 83.33333%; }
  .x1d7--t {
    width: 14.28571%; }
  .x2d7--t {
    width: 28.57143%; }
  .x3d7--t {
    width: 42.85714%; }
  .x4d7--t {
    width: 57.14286%; }
  .x5d7--t {
    width: 71.42857%; }
  .x6d7--t {
    width: 85.71429%; }
  .x1d8--t {
    width: 12.5%; }
  .x3d8--t {
    width: 37.5%; }
  .x5d8--t {
    width: 62.5%; }
  .x7d8--t {
    width: 87.5%; }
  .x1d9--t {
    width: 11.11111%; }
  .x2d9--t {
    width: 22.22222%; }
  .x4d9--t {
    width: 44.44444%; }
  .x5d9--t {
    width: 55.55556%; }
  .x7d9--t {
    width: 77.77778%; }
  .x8d9--t {
    width: 88.88889%; }
  .x1d10--t {
    width: 10%; }
  .x3d10--t {
    width: 30%; }
  .x7d10--t {
    width: 70%; }
  .x9d10--t {
    width: 90%; }
  .x1d11--t {
    width: 9.09091%; }
  .x2d11--t {
    width: 18.18182%; }
  .x3d11--t {
    width: 27.27273%; }
  .x4d11--t {
    width: 36.36364%; }
  .x5d11--t {
    width: 45.45455%; }
  .x6d11--t {
    width: 54.54545%; }
  .x7d11--t {
    width: 63.63636%; }
  .x8d11--t {
    width: 72.72727%; }
  .x9d11--t {
    width: 81.81818%; }
  .x10d11--t {
    width: 90.90909%; }
  .x1d12--t {
    width: 8.33333%; }
  .x5d12--t {
    width: 41.66667%; }
  .x7d12--t {
    width: 58.33333%; }
  .x11d12--t {
    width: 91.66667%; } }

@media (max-width: 640px) {
  .x1--sm {
    width: 100%; }
  .x1d1--sm {
    width: 100%; }
  .x0d1--sm {
    width: 0%; }
  .x1d2--sm, .x2d4--sm, .x3d6--sm, .x4d8--sm, .x5d10--sm, .x6d12--sm {
    width: 50%; }
  .x1d3--sm, .x2d6--sm, .x3d9--sm, .x4d12--sm {
    width: 33.33333%; }
  .x2d3--sm, .x4d6--sm, .x6d9--sm, .x8d12--sm {
    width: 66.66667%; }
  .x1d4--sm, .x2d8--sm, .x3d12--sm {
    width: 25%; }
  .x3d4--sm, .x6d8--sm, .x9d12--sm {
    width: 75%; }
  .x1d5--sm, .x2d10--sm {
    width: 20%; }
  .x2d5--sm, .x4d10--sm {
    width: 40%; }
  .x3d5--sm, .x6d10--sm {
    width: 60%; }
  .x4d5--sm, .x8d10--sm {
    width: 80%; }
  .x1d6--sm, .x2d12--sm {
    width: 16.66667%; }
  .x5d6--sm, .x10d12--sm {
    width: 83.33333%; }
  .x1d7--sm {
    width: 14.28571%; }
  .x2d7--sm {
    width: 28.57143%; }
  .x3d7--sm {
    width: 42.85714%; }
  .x4d7--sm {
    width: 57.14286%; }
  .x5d7--sm {
    width: 71.42857%; }
  .x6d7--sm {
    width: 85.71429%; }
  .x1d8--sm {
    width: 12.5%; }
  .x3d8--sm {
    width: 37.5%; }
  .x5d8--sm {
    width: 62.5%; }
  .x7d8--sm {
    width: 87.5%; }
  .x1d9--sm {
    width: 11.11111%; }
  .x2d9--sm {
    width: 22.22222%; }
  .x4d9--sm {
    width: 44.44444%; }
  .x5d9--sm {
    width: 55.55556%; }
  .x7d9--sm {
    width: 77.77778%; }
  .x8d9--sm {
    width: 88.88889%; }
  .x1d10--sm {
    width: 10%; }
  .x3d10--sm {
    width: 30%; }
  .x7d10--sm {
    width: 70%; }
  .x9d10--sm {
    width: 90%; }
  .x1d11--sm {
    width: 9.09091%; }
  .x2d11--sm {
    width: 18.18182%; }
  .x3d11--sm {
    width: 27.27273%; }
  .x4d11--sm {
    width: 36.36364%; }
  .x5d11--sm {
    width: 45.45455%; }
  .x6d11--sm {
    width: 54.54545%; }
  .x7d11--sm {
    width: 63.63636%; }
  .x8d11--sm {
    width: 72.72727%; }
  .x9d11--sm {
    width: 81.81818%; }
  .x10d11--sm {
    width: 90.90909%; }
  .x1d12--sm {
    width: 8.33333%; }
  .x5d12--sm {
    width: 41.66667%; }
  .x7d12--sm {
    width: 58.33333%; }
  .x11d12--sm {
    width: 91.66667%; } }

@media (max-width: 480px) {
  .x1--m {
    width: 100%; }
  .x1d1--m {
    width: 100%; }
  .x0d1--m {
    width: 0%; }
  .x1d2--m, .x2d4--m, .x3d6--m, .x4d8--m, .x5d10--m, .x6d12--m {
    width: 50%; }
  .x1d3--m, .x2d6--m, .x3d9--m, .x4d12--m {
    width: 33.33333%; }
  .x2d3--m, .x4d6--m, .x6d9--m, .x8d12--m {
    width: 66.66667%; }
  .x1d4--m, .x2d8--m, .x3d12--m {
    width: 25%; }
  .x3d4--m, .x6d8--m, .x9d12--m {
    width: 75%; }
  .x1d5--m, .x2d10--m {
    width: 20%; }
  .x2d5--m, .x4d10--m {
    width: 40%; }
  .x3d5--m, .x6d10--m {
    width: 60%; }
  .x4d5--m, .x8d10--m {
    width: 80%; }
  .x1d6--m, .x2d12--m {
    width: 16.66667%; }
  .x5d6--m, .x10d12--m {
    width: 83.33333%; }
  .x1d7--m {
    width: 14.28571%; }
  .x2d7--m {
    width: 28.57143%; }
  .x3d7--m {
    width: 42.85714%; }
  .x4d7--m {
    width: 57.14286%; }
  .x5d7--m {
    width: 71.42857%; }
  .x6d7--m {
    width: 85.71429%; }
  .x1d8--m {
    width: 12.5%; }
  .x3d8--m {
    width: 37.5%; }
  .x5d8--m {
    width: 62.5%; }
  .x7d8--m {
    width: 87.5%; }
  .x1d9--m {
    width: 11.11111%; }
  .x2d9--m {
    width: 22.22222%; }
  .x4d9--m {
    width: 44.44444%; }
  .x5d9--m {
    width: 55.55556%; }
  .x7d9--m {
    width: 77.77778%; }
  .x8d9--m {
    width: 88.88889%; }
  .x1d10--m {
    width: 10%; }
  .x3d10--m {
    width: 30%; }
  .x7d10--m {
    width: 70%; }
  .x9d10--m {
    width: 90%; }
  .x1d11--m {
    width: 9.09091%; }
  .x2d11--m {
    width: 18.18182%; }
  .x3d11--m {
    width: 27.27273%; }
  .x4d11--m {
    width: 36.36364%; }
  .x5d11--m {
    width: 45.45455%; }
  .x6d11--m {
    width: 54.54545%; }
  .x7d11--m {
    width: 63.63636%; }
  .x8d11--m {
    width: 72.72727%; }
  .x9d11--m {
    width: 81.81818%; }
  .x10d11--m {
    width: 90.90909%; }
  .x1d12--m {
    width: 8.33333%; }
  .x5d12--m {
    width: 41.66667%; }
  .x7d12--m {
    width: 58.33333%; }
  .x11d12--m {
    width: 91.66667%; } }
